<h1> Hello! Please enter your first and last name to begin. </h1>
<form method = "post" action = "personal_details_web_page" >
<input type = "text" name = "first_name_input">
<input type = "text" name = "last_name_input">
<input type = "submit" value = "Next">
</form>