<div class="box_div">
<head>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
</head>
<body>
<h1> Hello! Please enter your first and last name to begin. </h1>
<form method = "post" action = "personal_details_web_page" >
<h3> First Name </h3>
<input type = "text" name = "first_name_input" required autofocus> 
<h3> Last Name </h3>
<input type = "text" name = "last_name_input" required>
<br><br>
<input class= "button" type = "submit" value = "Next" onclick>
</form>
</body>
</div>